flask==3.1.0
scikit-learn==1.7.1
xgboost==3.0.4
joblib==1.4.2
requests==2.32.3
matplotlib==3.9.2
seaborn==0.13.2
ta==0.11.0
gunicorn==23.0.0
tzdata==2025.2
flask-cors==4.0.1
pandas==2.2.2
numpy==2.3.2
yfinance==0.2.65
lightgbm
