flask==3.0.3
scikit-learn==1.7.1
xgboost==3.0.4
joblib==1.5.1
requests==2.32.3
matplotlib==3.9.2
seaborn==0.13.2
ta==0.11.0
gunicorn==21.2.0
tzdata
flask
flask-cors
gunicorn
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.43
scikit-learn
tzdata
xgboost
lightgbm
